PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/skate-spot-finder
MONGODB_URI_TEST=mongodb://127.0.0.1:27017/skate-spot-finder-test

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxx
